@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic-help1:before {
  width: 166px;
  height: 166px;
  background: url('../img/icons-sdadc6cee47.png') 0 -578px no-repeat;
}

.ic-help2:before {
  width: 165px;
  height: 165px;
  background: url('../img/icons-sdadc6cee47.png') 0 -248px no-repeat;
}

.ic-help3:before {
  width: 166px;
  height: 166px;
  background: url('../img/icons-sdadc6cee47.png') 0 -744px no-repeat;
}

.ic-help4:before {
  width: 165px;
  height: 165px;
  background: url('../img/icons-sdadc6cee47.png') 0 -413px no-repeat;
}

.ic-arrow:before {
  width: 102px;
  height: 119px;
  background: url('../img/icons-sdadc6cee47.png') 0 0 no-repeat;
}

.ic-arrow320:before {
  width: 87px;
  height: 126px;
  background: url('../img/icons-sdadc6cee47.png') -102px 0 no-repeat;
}

.ic-offerarrow:before {
  width: 222px;
  height: 210px;
  background: url('../img/icons-sdadc6cee47.png') 0 -910px no-repeat;
}

.ic-offerarrow320:before {
  width: 24px;
  height: 248px;
  background: url('../img/icons-sdadc6cee47.png') -189px 0 no-repeat;
}

.form-group {
  position: relative;
}
.form__input {
  height: auto;
  font: 400 14px/16px "Open Sans", sans-serif;
  padding: 12px 0;
  text-align: center;
  border: 2px solid #fbd823;
}
.form__input:focus {
  border-color: #1c97d1;
}
.form__input:-ms-input-placeholder {
  color: #000;
  text-align: center;
}
.form__input:-moz-placeholder {
  color: #000;
  text-align: center;
}
.form__input::-moz-placeholder {
  color: #000;
  text-align: center;
}
.form__input::-webkit-input-placeholder {
  color: #000;
  text-align: center;
}
.form__input::placeholder {
  color: #000;
  text-align: center;
}

.btn__call {
  color: #000;
  font: 400 14px/20px "PT Sans", sans-serif;
  padding: 13px 15px;
  background-color: #ffe900;
  background-image: linear-gradient(to top, #ffbb00 0%, #ffe900 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}

.g-heading {
  display: inline-block;
  font: 600 20px/30px "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.g-title {
  display: inline-block;
  font: 400 18px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
html {
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* ---------------------------------------- */
/* H E A D E R    S T Y L E                 */
/* ---------------------------------------- */
.header {
  background: #f3f3f3;
  padding: 15px 0 0;
}

.navbar__logo {
  padding: 0;
  height: auto;
  margin-right: 15px;
}
.navbar__title {
  padding: 15px 0 0;
  font: 300 18px/18px "PT Sans", sans-serif;
}
.navbar__right {
  text-align: right;
}
.navbar__call {
  font: 400 12px/12px "PT Sans", sans-serif;
  color: #1c97d1;
  background-image: none;
  background-color: transparent;
  border: 0;
}

.phone .fa {
  font-size: 30px;
  color: #1c97d1;
  margin-right: 10px;
}
.phone__box {
  display: inline-block;
}
.phone__link {
  display: block;
  font: 400 11px/11px "PT Sans", sans-serif;
  margin-bottom: 5px;
}

.content__box {
  padding: 30px 0 10px;
}
.content__heading {
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.content__heading--text {
  color: #1c97d1;
}
.content__list {
  padding-left: 0;
  margin-bottom: 25px;
}
.content__list--item {
  list-style-type: none;
  font: 400 14px/20px "Open Sans", sans-serif;
}
.content__list--item:before {
  content: "";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #fbd823;
}

/* ---------------------------------------- */
/* H E L P    S E C T I O N    S T Y L E    */
/* ---------------------------------------- */
.help__box {
  padding: 45px 25px 25px;
  text-align: center;
}
.help__img {
  display: inline-block;
}
.help__title {
  color: #000;
  font: 400 16px/20px "PT Sans", sans-serif;
  margin-bottom: 25px;
}
.help__info {
  font: 400 18px/20px "PT Sans", sans-serif;
}

/* ---------------------------------------- */
/* O F F E R    S E C T I O N    S T Y L E  */
/* ---------------------------------------- */
.offer {
  padding: 55px 0 100px;
  background: url(../img/offerbg.png) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.offer__heading {
  padding: 10px 15px;
  color: #1c97d1;
  background-color: #fff;
  margin-bottom: 60px;
}
.offer__subheading {
  font: 400 16px/20px "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
.offer__subheading--text {
  color: #fbd823;
}
.offer__info {
  padding: 5px;
  font: 600 18px/20px "Open Sans", sans-serif;
  color: #fff;
  border: 2px dashed #1c97d1;
  text-align: center;
  margin-bottom: 30px;
}
.offer__btn {
  padding: 10px 40px;
}
.offer__arrow {
  position: relative;
}
.offer__arrow .ic {
  position: absolute;
  top: 50px;
  right: 0;
}

/* -------------------------------------------- */
/* D E S T R O Y    S E C T I O N    S T Y L E  */
/* -------------------------------------------- */
.destroy {
  padding: 50px 0;
}
.destroy__heading {
  margin-bottom: 50px;
  color: #000;
}
.destroy__subheading {
  font: 400 16px/20px "Open Sans", sans-serif;
  text-align: center;
  margin: 0 0 70px;
}
.destroy__info {
  display: inline-block;
  padding: 5px;
  font: 400 18px/22px "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 35px;
  background-color: #1c97d1;
}
.destroy__btn {
  width: 100%;
}

/* ---------------------------------------- */
/* A B O U T    S E C T I O N    S T Y L E  */
/* ---------------------------------------- */
.about {
  padding: 45px 0 60px;
  background: url(../img/aboutbg.png) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.about__title {
  color: #fff;
  margin-bottom: 80px;
}
.about__box {
  position: relative;
}
.about__box .ic {
  position: absolute;
  right: -10px;
}
.about__info {
  color: #fff;
  font: 400 16px/20px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
.about__img {
  margin-bottom: 25px;
  text-align: center;
}
.about__img img {
  display: inline-block;
}
.about__btn {
  color: #fff;
  background-color: #1c97d1;
  border: 0;
  padding: 15px 25px;
  font: 400 14px/16px "PT Sans", sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  /* ---------------------------------------- */
  /* G E N E R A L    S T Y L E               */
  /* ---------------------------------------- */
  .btn__call {
    font: 400 18px/20px "PT Sans", sans-serif;
  }

  .g-heading {
    font: 600 36px/40px "Open Sans", sans-serif;
  }

  .g-title {
    font: 400 30px/36px "Open Sans", sans-serif;
  }

  .form__input {
    font: 400 18px/20px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* H E A D E R    S T Y L E                 */
  /* ---------------------------------------- */
  .navbar__call {
    font: 400 16px/16px "PT Sans", sans-serif;
    color: #000;
    padding: 10px 45px;
    background-image: linear-gradient(to top, #ffbb00 0%, #ffe900 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

  .phone {
    padding-right: 20px;
  }
  .phone .fa {
    font-size: 50px;
  }
  .phone__link {
    font: 400 16px/16px "PT Sans", sans-serif;
    margin-bottom: 10px;
  }

  .content__box {
    padding-top: 20px;
  }
  .content__heading {
    font: 400 28px/32px "Open Sans", sans-serif;
  }
  .content__list--item {
    font: 400 20px/36px "Open Sans", sans-serif;
  }
  .content__btn {
    padding: 10px 35px;
  }

  /* ---------------------------------------- */
  /* H E L P    S E C T I O N    S T Y L E    */
  /* ---------------------------------------- */
  .help {
    background: url(../img/helpbg.png) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .help__box {
    padding: 45px 30px 25px;
    text-align: center;
  }

  /* ---------------------------------------- */
  /* O F F E R    S E C T I O N    S T Y L E  */
  /* ---------------------------------------- */
  .offer__heading {
    margin-bottom: 90px;
  }
  .offer__subheading {
    font: 400 36px/40px "Open Sans", sans-serif;
  }
  .offer__info {
    font: 600 30px/36px "Open Sans", sans-serif;
  }
  .offer__btn {
    padding: 12px 40px;
  }
  .offer__arrow .ic {
    top: 70px;
    right: 50px;
  }

  /* ---------------------------------------- */
  /* D E S T R O Y    S T Y L E               */
  /* ---------------------------------------- */
  .destroy {
    padding: 80px 0 200px;
    background: url(../img/destroybg.png) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .destroy__subheading {
    margin: 0 0 90px;
  }
  .destroy__info {
    font: 400 24px/28px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* A B O U T    S E C T I O N    S T Y L E  */
  /* ---------------------------------------- */
  .about {
    padding: 45px 0 75px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__box {
    padding: 0;
  }
  .about__box .ic {
    position: static;
  }
  .about__info {
    font: 400 24px/28px "Open Sans", sans-serif;
    margin-bottom: 0;
  }
  .about__img {
    margin-bottom: 40px;
  }
  .about__btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
}
@media only screen and (min-width: 968px) {
  /* ---------------------------------------- */
  /* H E A D E R    S T Y L E                 */
  /* ---------------------------------------- */
  .content__box {
    padding-top: 80px;
  }
  .content__heading {
    font: 400 30px/36px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* A B O U T    S E C T I O N    S T Y L E  */
  /* ---------------------------------------- */
  .about__box {
    padding: 100px 60px 0;
  }
}
