@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* S L I C K    S L I D E R    S T Y L E    */
/* ---------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------------------- */
/* S L I C K - S L I D E R    T H E M E    S T Y L E  */
/* -------------------------------------------------- */
.slick-loading .slick-list {
  background: #fff url('../img/ajax-loader.gif?1473182073') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic-help1:before {
  width: 166px;
  height: 166px;
  background: url('../img/icons-s6afd4c4150.png') 0 -901px no-repeat;
}

.ic-help2:before {
  width: 165px;
  height: 165px;
  background: url('../img/icons-s6afd4c4150.png') 0 -571px no-repeat;
}

.ic-help3:before {
  width: 166px;
  height: 166px;
  background: url('../img/icons-s6afd4c4150.png') 0 -1067px no-repeat;
}

.ic-help4:before {
  width: 165px;
  height: 165px;
  background: url('../img/icons-s6afd4c4150.png') 0 -736px no-repeat;
}

.ic-help11:before {
  width: 70px;
  height: 78px;
  background: url('../img/icons-s6afd4c4150.png') -69px -248px no-repeat;
}

.ic-help22:before {
  width: 69px;
  height: 70px;
  background: url('../img/icons-s6afd4c4150.png') 0 -248px no-repeat;
}

.ic-help33:before {
  width: 84px;
  height: 67px;
  background: url('../img/icons-s6afd4c4150.png') 0 -452px no-repeat;
}

.ic-help44:before {
  width: 92px;
  height: 71px;
  background: url('../img/icons-s6afd4c4150.png') -24px 0 no-repeat;
}

.ic-arrow:before {
  width: 102px;
  height: 119px;
  background: url('../img/icons-s6afd4c4150.png') -84px -452px no-repeat;
}

.ic-arrow320:before {
  width: 87px;
  height: 126px;
  background: url('../img/icons-s6afd4c4150.png') 0 -326px no-repeat;
}

.ic-offerarrow:before {
  width: 222px;
  height: 210px;
  background: url('../img/icons-s6afd4c4150.png') 0 -1233px no-repeat;
}

.ic-offerarrow320:before {
  width: 24px;
  height: 248px;
  background: url('../img/icons-s6afd4c4150.png') 0 0 no-repeat;
}

.ic-close:before {
  width: 78px;
  height: 78px;
  background: url('../img/icons-s6afd4c4150.png') -116px 0 no-repeat;
}

.form-group {
  position: relative;
}
.form__input {
  height: auto;
  font: 400 14px/16px "Open Sans", sans-serif;
  padding: 12px 0;
  text-align: center;
  border: 2px solid #fbd823;
  color: #000;
}
.form__input:focus {
  border-color: #1c97d1;
}
.form__input:-ms-input-placeholder {
  color: #000;
  text-align: center;
}
.form__input:-moz-placeholder {
  color: #000;
  text-align: center;
}
.form__input::-moz-placeholder {
  color: #000;
  text-align: center;
}
.form__input::-webkit-input-placeholder {
  color: #000;
  text-align: center;
}
.form__input::placeholder {
  color: #000;
  text-align: center;
}
.form__input--color {
  color: #fff;
}
.form__input--color:-ms-input-placeholder {
  color: #fff;
}
.form__input--color:-moz-placeholder {
  color: #fff;
}
.form__input--color::-moz-placeholder {
  color: #fff;
}
.form__input--color::-webkit-input-placeholder {
  color: #fff;
}
.form__input--color::placeholder {
  color: #fff;
}
.form__input--bg {
  background-color: transparent;
}

.btn__call {
  color: #000;
  font: 400 14px/20px "PT Sans", sans-serif;
  padding: 13px 15px;
  background-color: #ffe900;
  background-image: linear-gradient(to top, #ffbb00 0%, #ffe900 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 0;
}

.g-heading {
  display: inline-block;
  font: 600 20px/30px "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.g-title {
  display: inline-block;
  font: 400 18px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.modal__body {
  padding: 0 15px;
  position: relative;
}
.modal__content {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.modal__info {
  padding-top: 25px;
}
.modal__info--text {
  color: #000;
  font: 400 14px/18px "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.modal__form {
  padding: 30px 15px;
  background-color: #1c97d1;
  margin: 0 -15px;
}
.modal__heading {
  color: #fff;
  font: 400 18px/20px "Open Sans", sans-serif;
  margin-bottom: 35px;
}
.modal__input {
  color: #fff;
  background-color: transparent;
}
.modal__input:-ms-input-placeholder {
  color: #fff;
}
.modal__input:-moz-placeholder {
  color: #fff;
}
.modal__input::-moz-placeholder {
  color: #fff;
}
.modal__input::-webkit-input-placeholder {
  color: #fff;
}
.modal__input::placeholder {
  color: #fff;
}
.modal__input:focus {
  border-color: #fbd823;
}
.modal__close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #000;
  text-shadow: none;
  z-index: 10;
  opacity: 1;
}
.modal__close:hover, .modal__close:focus {
  color: #fbd823;
  opacity: 1;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
html {
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* ---------------------------------------- */
/* H E A D E R    S T Y L E                 */
/* ---------------------------------------- */
.header {
  background: #f3f3f3;
  padding: 15px 0 0;
}

.navbar__logo {
  padding: 0;
  height: auto;
  margin-right: 15px;
}
.navbar__title {
  padding: 15px 0 0;
  font: 300 18px/18px "PT Sans", sans-serif;
}
.navbar__right {
  text-align: right;
}
.navbar__call {
  font: 400 12px/12px "PT Sans", sans-serif;
  color: #1c97d1;
  background-image: none;
  background-color: transparent;
  border: 0;
}

.phone .fa {
  font-size: 30px;
  color: #1c97d1;
  margin-right: 10px;
}
.phone__box {
  display: inline-block;
  text-align: center;
}
.phone__link {
  display: block;
  color: #000;
  font: 400 11px/11px "PT Sans", sans-serif;
  margin-bottom: 5px;
}

.content__box {
  padding: 30px 0 10px;
}
.content__heading {
  color: #000;
  font: 400 18px/22px "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.content__heading--text {
  color: #1c97d1;
}
.content__list {
  padding-left: 0;
  margin-bottom: 25px;
}
.content__list--text {
  float: left;
  width: 90%;
  margin: 0;
  color: #000;
}
.content__list--item, .company__list--item {
  list-style-type: none;
  font: 400 14px/20px "Open Sans", sans-serif;
}
.content__list--item:before, .company__list--item:before {
  content: "";
  font-family: "FontAwesome";
  float: left;
  margin-right: 10px;
  color: #fbd823;
}

/* ---------------------------------------- */
/* H E L P    S E C T I O N    S T Y L E    */
/* ---------------------------------------- */
.help__box {
  padding: 45px 25px 25px;
  text-align: center;
}
.help__img {
  display: inline-block;
}
.help__title {
  color: #000;
  font: 600 16px/20px "PT Sans", sans-serif;
  margin-bottom: 25px;
}
.help__info {
  font: 400 18px/20px "PT Sans", sans-serif;
}

/* ---------------------------------------- */
/* O F F E R    S E C T I O N    S T Y L E  */
/* ---------------------------------------- */
.offer {
  padding: 55px 0 100px;
  background: url(../img/offerbg.png) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.offer__heading {
  padding: 10px 15px;
  color: #1c97d1;
  background-color: #fff;
  margin-bottom: 60px;
}
.offer__subheading {
  font: 400 16px/20px "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
.offer__subheading--text {
  color: #fbd823;
}
.offer__info {
  padding: 5px;
  font: 600 18px/20px "Open Sans", sans-serif;
  color: #fff;
  border: 2px dashed #1c97d1;
  text-align: center;
  margin-bottom: 30px;
}
.offer__btn {
  padding: 10px 40px;
}
.offer__arrow {
  position: relative;
}
.offer__arrow .ic {
  position: absolute;
  top: 50px;
  right: 0;
}

/* -------------------------------------------- */
/* D E S T R O Y    S E C T I O N    S T Y L E  */
/* -------------------------------------------- */
.destroy {
  padding: 50px 0;
}
.destroy__heading {
  margin-bottom: 50px;
  color: #000;
}
.destroy__subheading {
  font: 400 16px/20px "Open Sans", sans-serif;
  text-align: center;
  margin: 0 0 70px;
  color: #000;
}
.destroy__info, .rule__info {
  display: inline-block;
  padding: 5px;
  font: 400 18px/22px "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 35px;
  background-color: #1c97d1;
}
.destroy__btn, .rule__btn {
  width: 100%;
}

/* ---------------------------------------- */
/* A B O U T    S E C T I O N    S T Y L E  */
/* ---------------------------------------- */
.about {
  padding: 45px 0 60px;
  background: url(../img/aboutbg.png) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.about__title {
  color: #fff;
  margin-bottom: 80px;
}
.about__box {
  position: relative;
}
.about__box .ic {
  position: absolute;
  right: -10px;
}
.about__info {
  color: #fff;
  font: 400 16px/20px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
.about__img {
  margin-bottom: 25px;
  text-align: center;
}
.about__img img {
  display: inline-block;
}
.about__btn {
  color: #fff;
  background-color: #1c97d1;
  border: 0;
  padding: 15px 25px;
  font: 400 14px/16px "PT Sans", sans-serif;
  text-transform: uppercase;
}

/* ---------------------------------------- */
/* E X P    S E C T I O N    S T Y L E      */
/* ---------------------------------------- */
.exp {
  padding: 50px 0 50px;
}
.exp__title {
  color: #000;
  margin-bottom: 55px;
}
.exp__info {
  font: 400 16px/20px "Open Sans", sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.exp__info--text {
  color: #1c97d1;
  font-weight: 600;
}
.exp__img {
  text-align: center;
  margin-bottom: 20px;
}
.exp__img img {
  display: inline-block;
}
.exp__btn {
  display: inline-block;
}
.exp__btn:hover, .exp__btn:focus, .exp__btn:active {
  color: #000;
}
.exp--right {
  text-align: center;
}

/* ---------------------------------------- */
/* R U L E    S E C T I O N    S T Y L E    */
/* ---------------------------------------- */
.rule {
  padding: 45px 0 80px;
  background: url(../img/rule.jpg) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.rule__title {
  color: #fff;
  margin-bottom: 50px;
}

/* ------------------------------------------ */
/* S C H E M E    S E C T I O N    S T Y L E  */
/* ------------------------------------------ */
.scheme {
  padding: 40px 0 0;
}
.scheme__title {
  color: #000;
  margin-bottom: 30px;
}
.scheme__img {
  position: relative;
  margin-bottom: 70px;
}
.scheme__img img {
  margin: 0 auto;
}
.scheme__text {
  position: absolute;
  margin: 0;
  max-width: 140px;
  text-align: center;
  color: #000;
}
.scheme__text--small {
  display: block;
  font: 300 italic 12px/14px "Open Sans", sans-serif;
}
.scheme__text1 {
  top: 0;
  left: 50%;
  margin-left: 15px;
}
.scheme__text2 {
  top: 90px;
  left: 50%;
  margin-left: 15px;
}
.scheme__text3 {
  top: 165px;
  left: 50%;
  margin-left: 30px;
}
.scheme__text4 {
  top: 260px;
  left: 50%;
  margin-left: -80px;
}
.scheme__text5 {
  top: 345px;
  left: 50%;
  margin-left: -80px;
}
.scheme__text6 {
  top: 405px;
  left: 50%;
  margin-left: -80px;
}
.scheme__text7 {
  top: 475px;
  left: 50%;
  margin-left: -80px;
}
.scheme__text8 {
  top: 540px;
  left: 50%;
  margin-left: -80px;
}
.scheme__text9 {
  top: 655px;
  left: 50%;
  margin-left: 55px;
}
.scheme__text10 {
  top: 740px;
  left: 50%;
  margin-left: 10px;
}
.scheme__text-1 {
  top: 0;
  left: 50%;
  margin-left: -155px;
}
.scheme__text-2 {
  top: 90px;
  left: 50%;
  margin-left: -155px;
}
.scheme__text-3 {
  top: 740px;
  left: 50%;
  margin-left: -145px;
}
.scheme__sides {
  padding: 15px;
  border: 2px dashed #1c97d1;
  margin-bottom: 50px;
}

.side__box {
  display: inline-block;
  width: 100%;
  float: left;
}
.side__box1 {
  margin-bottom: 30px;
}
.side__text {
  display: inline-block;
  color: #000;
  font: 400 14px/18px "Open Sans", sans-serif;
  margin-bottom: 0;
  float: right;
}
.side__line {
  display: inline-block;
  width: 40px;
  height: 5px;
  vertical-align: middle;
}
.side__line1 {
  background-color: #1c97d1;
}
.side__line2 {
  background-color: #fbd823;
}

/* -------------------------------------------- */
/* C O M P A N Y    S E C T I O N    S T Y L E  */
/* -------------------------------------------- */
.company {
  padding: 40px 0 0;
}
.company__title {
  color: #000;
  margin-bottom: 45px;
}
.company__img {
  margin-bottom: 20px;
}
.company__info {
  position: relative;
  padding: 30px 20px;
  background-color: #fbd823;
  margin-bottom: 40px;
}
.company__info--arrow {
  position: absolute;
  left: -18px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #fbd823;
  border-left: 0;
}
.company__text {
  color: #000;
  font: 400 18px/24px "Open Sans", sans-serif;
}
.company__text--name {
  font-weight: 600;
  margin-bottom: 30px;
}
.company__list {
  padding-left: 0;
}
.company__btn {
  margin-bottom: 40px;
}
.company__subtitle {
  color: #000;
  margin: 0 0 30px;
  font: 400 18px/20px "Open Sans", sans-serif;
}

.employee__box {
  text-align: center;
  margin-bottom: 20px;
}
.employee__img {
  margin: 0 auto;
}
.employee__name {
  color: #000;
  margin: 20px 0;
  font: 600 16px/20px "Open Sans", sans-serif;
}
.employee__btn {
  color: #000;
  font: 300 italic 16px/20px "Open Sans", sans-serif;
  border: 0;
  background: none;
}
.employee__info, .employee__descr {
  color: #000;
  font: 400 16px/20px "Open Sans", sans-serif;
  margin-bottom: 0;
}
.employee__spoiler {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

/* ---------------------------------------- */
/* C A S E    S E C T I O N    S T Y L E    */
/* ---------------------------------------- */
.case {
  padding: 25px 0;
  background: url(../img/case.jpg) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.case__box {
  padding: 30px 15px 250px;
  background-color: rgba(255, 255, 255, 0.7);
}
.case__title {
  color: #000;
  margin-bottom: 40px;
}
.case__img {
  margin-bottom: 30px;
}
.case__point {
  color: #000;
  font: 400 16px/20px "Open Sans", sans-serif;
  margin-bottom: 45px;
}
.case .slick-prev {
  left: -50px;
}
.case .slick-next {
  right: -50px;
}
.case .slick-prev, .case .slick-next {
  height: auto;
  width: auto;
}
.case .slick-prev:before, .case .slick-next:before {
  content: "";
}
.case .slick-prev .fa, .case .slick-next .fa {
  font-size: 100px;
  color: #1c97d1;
}

/* ---------------------------------------------------- */
/* S E R T I F I C A T E    S E C T I O N    S T Y L E  */
/* ---------------------------------------------------- */
.sertificates {
  padding: 50px 0 150px;
  background: url(../img/ser.jpg) no-repeat center/100% 100%;
}
.sertificates__title {
  color: #000;
  margin-bottom: 60px;
}

.s-slider {
  padding: 20px;
}
.s-slider__item {
  text-align: center;
}
.s-slider__item img {
  display: inline-block;
}
.s-slider .slick-prev, .s-slider .slick-next {
  height: auto;
  width: auto;
}
.s-slider .slick-prev:before, .s-slider .slick-next:before {
  content: "";
}
.s-slider .slick-prev .fa, .s-slider .slick-next .fa {
  font-size: 100px;
  color: #1c97d1;
}

/* ------------------------------------------------ */
/* S U B S C R I B E    S E C T I O N    S T Y L E  */
/* ------------------------------------------------ */
.subscribe {
  background: url(../img/sb.jpg) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  padding: 50px 0 25px;
}
.subscribe__title {
  margin-bottom: 40px;
  display: inline-block;
  padding: 5px;
  color: #fff;
  background-color: #1c97d1;
}
.subscribe__subtitle {
  color: #fff;
  font: 400 18px/20px "Open Sans", sans-serif;
}

/* -------------------------------------------- */
/* C O N T A C T    S E C T I O N    S T Y L E  */
/* -------------------------------------------- */
.contact__info {
  padding-top: 40px;
}
.contact__title {
  margin-bottom: 40px;
}
.contact__descr {
  margin-bottom: 25px;
  text-align: center;
}
.contact__descr .fa {
  float: left;
  color: #fbd823;
  font-size: 18px;
}
.contact__address--info, .contact__call--info {
  color: #000;
  font: 300 14px/18px "Open Sans", sans-serif;
}
.contact__call--info {
  padding-bottom: 25px;
  margin-bottom: 0;
  border-bottom: 1px solid #fbd823;
}
.contact__form {
  padding-bottom: 25px;
}
.contact__heading {
  color: #1c97d1;
  font: 400 16px/20px "PT Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.contact__input {
  height: auto;
  font: 400 14px/16px "Open Sans", sans-serif;
  padding: 10px 15px 10px 20px;
  border: 2px solid #fbd823;
  color: #000;
}
.contact__input:focus {
  border-color: #1c97d1;
}
.contact__input:-ms-input-placeholder {
  color: #000;
}
.contact__input:-moz-placeholder {
  color: #000;
}
.contact__input::-moz-placeholder {
  color: #000;
}
.contact__input::-webkit-input-placeholder {
  color: #000;
}
.contact__input::placeholder {
  color: #000;
}
.contact__input--color {
  color: #fff;
}
.contact__input--color:-ms-input-placeholder {
  color: #fff;
}
.contact__input--color:-moz-placeholder {
  color: #fff;
}
.contact__input--color::-moz-placeholder {
  color: #fff;
}
.contact__input--color::-webkit-input-placeholder {
  color: #fff;
}
.contact__input--color::placeholder {
  color: #fff;
}
.contact__input--bg {
  background-color: transparent;
}
.contact__map {
  border-top: 5px solid #fbd823;
  border-bottom: 5px solid #fbd823;
}

.form__message {
  resize: none;
}

.mobile {
  margin-bottom: 30px;
}
.mobile__container {
  text-align: center;
}
.mobile__container .fa {
  margin-right: 10px;
  color: #fbd823;
  font-size: 18px;
}
.mobile__container1 {
  margin-bottom: 10px;
}
.mobile__number {
  color: #1c97d1;
  font: 400 16px/20px "Open Sans", sans-serif;
}

/* ---------------------------------------- */
/* T H A N K S    P A G E    S T Y L E      */
/* ---------------------------------------- */
.thanks__box {
  padding: 100px 0 200px;
}
.thanks__heading {
  display: block;
  color: #000;
  padding: 15px 20px;
  font: 400 20px/24px "Open Sans", sans-serif;
  background-color: #fbd823;
  text-transform: uppercase;
  margin: 0;
}
.thanks__subheading {
  display: block;
  color: #000;
  padding: 10px 20px;
  font: 400 18px/24px "Open Sans", sans-serif;
  background-color: #1c97d1;
  margin: 0;
}
.thanks__btn {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  /* ---------------------------------------- */
  /* G E N E R A L    S T Y L E               */
  /* ---------------------------------------- */
  .btn__call {
    font: 400 18px/20px "PT Sans", sans-serif;
  }

  .g-heading {
    font: 600 36px/40px "Open Sans", sans-serif;
  }

  .g-title {
    font: 400 30px/36px "Open Sans", sans-serif;
  }

  .form__input {
    font: 400 18px/20px "Open Sans", sans-serif;
  }

  .modal__content {
    background: url(../img/modalbg.jpg) no-repeat center/100% 100%;
  }
  .modal__size {
    width: 750px;
    margin: 70px auto 0;
  }
  .modal__small {
    width: 500px;
    margin: 70px auto 0;
  }
  .modal__close {
    top: -75px;
    transform: scale(0.8);
  }
  .modal__body {
    padding: 0 30px;
  }
  .modal__info {
    padding: 40px 0 0 20px;
  }
  .modal__info--text {
    font: 400 16px/20px "Open Sans", sans-serif;
    margin-bottom: 25px;
  }
  .modal__form {
    padding: 40px 15px;
    margin: 0;
  }
  .modal__heading {
    font: 400 20px/24px "Open Sans", sans-serif;
    margin-bottom: 35px;
  }

  /* ---------------------------------------- */
  /* H E A D E R    S T Y L E                 */
  /* ---------------------------------------- */
  .navbar__call {
    font: 400 16px/16px "PT Sans", sans-serif;
    color: #000;
    padding: 10px 45px;
    background-image: linear-gradient(to top, #ffbb00 0%, #ffe900 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

  .phone .fa {
    font-size: 50px;
  }
  .phone__link {
    font: 400 16px/16px "PT Sans", sans-serif;
    margin-bottom: 10px;
  }

  .content__box {
    padding-top: 20px;
  }
  .content__heading {
    font: 400 28px/32px "Open Sans", sans-serif;
  }
  .content__list--item, .company__list--item {
    font: 400 20px/36px "Open Sans", sans-serif;
  }
  .content__btn {
    padding: 10px 35px;
  }

  /* ---------------------------------------- */
  /* H E L P    S E C T I O N    S T Y L E    */
  /* ---------------------------------------- */
  .help {
    background: url(../img/helpbg.png) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .help__box {
    padding: 45px 30px 25px;
    text-align: center;
  }

  /* ---------------------------------------- */
  /* O F F E R    S E C T I O N    S T Y L E  */
  /* ---------------------------------------- */
  .offer__heading {
    margin-bottom: 90px;
  }
  .offer__subheading {
    font: 400 36px/40px "Open Sans", sans-serif;
  }
  .offer__info {
    font: 600 30px/36px "Open Sans", sans-serif;
  }
  .offer__btn {
    padding: 12px 40px;
  }
  .offer__arrow .ic {
    top: 70px;
    right: 50px;
  }

  /* ---------------------------------------- */
  /* D E S T R O Y    S T Y L E               */
  /* ---------------------------------------- */
  .destroy {
    padding: 80px 0 200px;
    background: url(../img/destroybg.png) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .destroy__subheading {
    margin: 0 0 90px;
  }
  .destroy__info, .rule__info {
    font: 400 24px/28px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* A B O U T    S E C T I O N    S T Y L E  */
  /* ---------------------------------------- */
  .about {
    padding: 45px 0 75px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__box {
    padding: 0;
  }
  .about__box .ic {
    position: static;
  }
  .about__info {
    font: 400 24px/28px "Open Sans", sans-serif;
    margin-bottom: 0;
  }
  .about__img {
    margin-bottom: 40px;
  }
  .about__btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }

  /* ---------------------------------------- */
  /* E X P    S E C T I O N    S T Y L E      */
  /* ---------------------------------------- */
  .exp {
    padding: 50px 0 25px;
    background: url(../img/expbg.png) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  .exp__title {
    margin-bottom: 20px;
  }
  .exp__info {
    padding-top: 160px;
    font: 400 24px/28px "Open Sans", sans-serif;
    text-align: right;
    margin-bottom: 60px;
  }
  .exp__col--right {
    float: right;
  }
  .exp--right {
    text-align: right;
  }
  .exp__img {
    margin-bottom: 0;
  }

  /* ---------------------------------------- */
  /* R U L E    S E C T I O N    S T Y L E    */
  /* ---------------------------------------- */
  .rule {
    padding: 50px 0 80px;
  }

  /* ---------------------------------------------------------------- */
  /* S C H E M E    +    C O M P A N Y    S E C T I O N    S T Y L E  */
  /* ---------------------------------------------------------------- */
  .section-scheme-company {
    background: url(../img/big.jpg) no-repeat center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-position: 50% top;
  }

  /* ------------------------------------------ */
  /* S C H E M E    S E C T I O N    S T Y L E  */
  /* ------------------------------------------ */
  .scheme__sides {
    padding: 30px;
    margin-bottom: 80px;
  }
  .scheme__title {
    margin-bottom: 100px;
  }
  .scheme__text {
    max-width: 140px;
    text-align: center;
  }
  .scheme__text1 {
    top: 25px;
    left: -15px;
  }
  .scheme__text2 {
    top: 25px;
    left: 80px;
  }
  .scheme__text3 {
    top: 60px;
    left: 195px;
  }
  .scheme__text4 {
    top: -50px;
    left: 150px;
  }
  .scheme__text5 {
    top: 30px;
    left: 290px;
  }
  .scheme__text6 {
    top: -50px;
    left: 375px;
  }
  .scheme__text7 {
    top: 30px;
    left: 445px;
  }
  .scheme__text8 {
    top: -60px;
    left: 530px;
  }
  .scheme__text9 {
    top: 70px;
    left: 525px;
  }
  .scheme__text10 {
    top: 10px;
    left: 655px;
  }
  .scheme__text-1 {
    top: 105px;
    left: -15px;
  }
  .scheme__text-2 {
    top: 105px;
    left: 80px;
  }
  .scheme__text-3 {
    top: 105px;
    left: 660px;
  }
  .scheme__text {
    margin: 0;
  }

  .side__box {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  .side__text {
    float: left;
    font: 400 18px/20px "Open Sans", sans-serif;
    margin-right: 15px;
  }

  /* -------------------------------------------- */
  /* C O M P A N Y    S E C T I O N    S T Y L E  */
  /* -------------------------------------------- */
  .company__title {
    margin-bottom: 0;
  }
  .company__info {
    margin-top: 85px;
  }
  .company__text {
    color: #000;
    font: 400 20px/28px "Open Sans", sans-serif;
  }
  .company__text--name {
    font-weight: 600;
  }
  .company__subtitle {
    font: 400 24px/28px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* C A S E    S E C T I O N    S T Y L E    */
  /* ---------------------------------------- */
  .case {
    padding: 40px 0;
  }
  .case__box {
    padding: 30px 50px 0;
  }
  .case__img {
    float: left;
    margin: 0 30px 0 0;
    max-width: 300px;
  }
  .case__name {
    color: #000;
    font: 600 20px/24px "Open Sans", sans-serif;
  }
  .case__rubric {
    font: 600 20px/24px "Open Sans", sans-serif;
    margin-right: 10px;
  }
  .case__point {
    font: 400 20px/24px "Open Sans", sans-serif;
  }

  /* ---------------------------------------------------- */
  /* S E R T I F I C A T E    S E C T I O N    S T Y L E  */
  /* ---------------------------------------------------- */
  .s-slider__item {
    padding: 0 50px;
  }

  /* -------------------------------------------- */
  /* C O N T A C T    S E C T I O N    S T Y L E  */
  /* -------------------------------------------- */
  .contact__descr .fa {
    color: #fbd823;
    font-size: 24px;
  }
  .contact__address--info, .contact__call--info {
    font: 300 18px/20px "Open Sans", sans-serif;
  }
  .contact__heading {
    font: 400 24px/28px "PT Sans", sans-serif;
    margin: 0 0 40px;
  }
  .contact__form {
    margin-bottom: 70px;
  }

  .mobile__container .fa {
    font-size: 24px;
  }
  .mobile__number {
    font: 400 20px/24px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* T H A N K S    P A G E    S T Y L E      */
  /* ---------------------------------------- */
  .thanks__box {
    padding: 200px 0;
    background: url(../img/thanks.jpg) no-repeat center;
  }
  .thanks__heading, .thanks__subheading {
    display: inline-block;
  }
  .thanks__heading {
    font: 400 30px/36px "Open Sans", sans-serif;
  }
  .thanks__subheading {
    font: 400 20px/30px "Open Sans", sans-serif;
  }
}
@media only screen and (min-width: 992px) {
  /* ---------------------------------------- */
  /* G E N E R A L    S T Y L E               */
  /* ---------------------------------------- */
  .modal__close {
    right: -100px;
  }

  /* ---------------------------------------- */
  /* H E A D E R    S T Y L E                 */
  /* ---------------------------------------- */
  .content__box {
    padding-top: 80px;
  }
  .content__heading {
    font: 400 30px/36px "Open Sans", sans-serif;
  }

  /* ---------------------------------------- */
  /* A B O U T    S E C T I O N    S T Y L E  */
  /* ---------------------------------------- */
  .about__box {
    padding: 100px 60px 0;
  }

  /* ------------------------------------------ */
  /* S C H E M E    S E C T I O N    S T Y L E  */
  /* ------------------------------------------ */
  .scheme__title {
    margin-bottom: 120px;
  }
  .scheme__text {
    max-width: 140px;
    text-align: center;
  }
  .scheme__text1 {
    top: 40px;
    left: -10px;
  }
  .scheme__text2 {
    top: 40px;
    left: 115px;
  }
  .scheme__text3 {
    top: 80px;
    left: 265px;
  }
  .scheme__text4 {
    top: -45px;
    left: 230px;
  }
  .scheme__text5 {
    top: 35px;
    left: 400px;
  }
  .scheme__text6 {
    top: -55px;
    left: 505px;
  }
  .scheme__text7 {
    top: 30px;
    left: 600px;
  }
  .scheme__text8 {
    top: -60px;
    left: 710px;
  }
  .scheme__text9 {
    top: 80px;
    left: 700px;
  }
  .scheme__text10 {
    top: 35px;
    left: 875px;
  }
  .scheme__text-1 {
    top: 140px;
    left: -10px;
  }
  .scheme__text-2 {
    top: 140px;
    left: 115px;
  }
  .scheme__text-3 {
    top: 135px;
    left: 875px;
  }

  /* ---------------------------------------- */
  /* C A S E    S E C T I O N    S T Y L E    */
  /* ---------------------------------------- */
  .case__img {
    max-width: 400px;
  }

  /* ------------------------------------------------ */
  /* S U B S C R I B E    S E C T I O N    S T Y L E  */
  /* ------------------------------------------------ */
  .subscribe {
    padding: 75px 0 40px;
  }
}
@media only screen and (min-width: 1200px) {
  /* ---------------------------------------- */
  /* G E N E R A L    S T Y L E               */
  /* ---------------------------------------- */
  .modal__size {
    width: 900px;
  }
  .modal__close {
    top: -75px;
    transform: scale(0.8);
  }

  /* -------------------------------------------- */
  /* C O M P A N Y    S E C T I O N    S T Y L E  */
  /* -------------------------------------------- */
  .company__img {
    margin-top: -75px;
  }

  /* ------------------------------------------ */
  /* S C H E M E    S E C T I O N    S T Y L E  */
  /* ------------------------------------------ */
  .scheme__title {
    margin-bottom: 150px;
  }
  .scheme__text {
    max-width: 160px;
    text-align: center;
  }
  .scheme__text1 {
    top: 60px;
    left: 0;
  }
  .scheme__text2 {
    top: 60px;
    left: 160px;
  }
  .scheme__text3 {
    top: 110px;
    left: 330px;
  }
  .scheme__text4 {
    top: -40px;
    left: 300px;
  }
  .scheme__text5 {
    top: 50px;
    left: 490px;
  }
  .scheme__text6 {
    top: -90px;
    left: 615px;
  }
  .scheme__text7 {
    top: 50px;
    left: 735px;
  }
  .scheme__text8 {
    top: -50px;
    left: 860px;
  }
  .scheme__text9 {
    top: 100px;
    left: 870px;
  }
  .scheme__text10 {
    top: 50px;
    left: 1070px;
  }
  .scheme__text-1 {
    top: 175px;
    left: 0;
  }
  .scheme__text-2 {
    top: 175px;
    left: 160px;
  }
  .scheme__text-3 {
    top: 175px;
    left: 1070px;
  }
}
