+comment('general style')
+ic
@each $ic in help1, help2, help3, help4
  .ic-#{$ic}
    +sb(#{$ic})
.form
  &-group
    position: relative
  &__input
    height: auto
    font: 400 18px/20px $os
    padding: 12px 0
    text-align: center
    border: 2px solid $main_color_yellow 
    &:focus
      border-color: $main_color_blue
    &::-moz-placeholder
      color: #000
      text-align: center
    &::-webkit-input-placeholder 
      color: #000 
      text-align: center
.btn
  &__call
    color: #000
    font: 400 14px/20px $pts
    padding: 10px 15px    
    background-color: $btn_color
    background-image: linear-gradient(to top, #fb0 0%, #ffe900 100%)
    +br(4px)
    border: 0
    span
      font: 400 18px/20px $os
.g_heading
  display: inline-block
  font: 600 20px/30px $os
  text-transform: uppercase
  text-align: center
  margin: 0    
+comment("home page style")
html
  overflow-x: hidden
body
  padding-right: 0 !important  
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none  
+comment("header style")    
.header
  background: $headerbgc
  padding: 15px 0 0
.navbar
  &__logo
    padding: 0
    height: auto 
    margin-right: 15px
  &__title
    padding: 15px 0 0
    font: 300 18px/18px $pts
  &__right
    text-align: right   
  &__call
    font: 400 12px/12px $pts
    color: $main_color_blue
    background-image: none
    background-color: transparent
    border: 0
.phone
  .fa
    font-size: 30px
    color: $main_color_blue
    margin-right: 10px
  &__box
    display: inline-block
  &__link
    display: block 
    font: 400 11px/11px $pts
    margin-bottom: 5px
.content
  &__box
    padding: 30px 0 10px  
  &__heading
    color: #000
    font: 400 18px/22px $os    
    margin-bottom: 30px
    &--text
      color: $main_color_blue
  &__list  
    padding-left: 0
    margin-bottom: 25px
    &--item
      list-style-type: none
      font: 400 14px/20px $os   
      &:before 
        content: '\f0da'
        font-family: $fa
        margin-right: 10px
        color: $main_color_yellow
+comment("help section style")
.help
  &__box
    padding: 45px 25px 25px   
    text-align: center     
  &__img
    display: inline-block         
  &__title
    color: #000
    font: 400 16px/20px $pts  
    margin-bottom: 25px
  &__info
    font: 400 18px/20px $pts 
+comment("offer section style")     
.offer
  padding: 55px 0 100px
  background: url(../img/offerbg.png) no-repeat center
  +cover
  &__heading
    padding: 10px 15px
    color: $main_color_blue
    background-color: #fff
    margin-bottom: 60px
  &__subheading
    font: 400 16px/20px $os
    color: #fff
    text-align: center  
    margin-bottom: 60px
    &--text  
      color: $main_color_yellow
  &__info
    padding: 5px
    font: 600 18px/20px $os
    color: #fff
    border: 2px dashed $main_color_blue 
    text-align: center
    margin-bottom: 30px
  &__btn
    padding: 10px 35px  
