+r(768) 
  +comment('general style')
  .btn__call
    font: 400 18px/20px $pts 
  .g-heading
    font: 600 36px/40px $os 
  .g-title
    font: 400 30px/36px $os
  .form
    &__input
      font: 400 18px/20px $os  
  +comment("header style") 
  .navbar
    &__call
      font: 400 16px/16px $pts
      color: #000
      padding: 10px 45px   
      background-image: linear-gradient(to top, #ffbb00 0%, #ffe900 100%) 
      +br(3px)    
  .phone
    padding-right: 20px
    .fa
      font-size: 50px
    &__link
      font: 400 16px/16px $pts
      margin-bottom: 10px
  .content
    &__box
      padding-top: 20px    
    &__heading
      font: 400 28px/32px $os
    &__list--item
      font: 400 20px/36px $os
    &__btn
      padding: 10px 35px    
  +comment("help section style")
  .help
    background: url(../img/helpbg.png) no-repeat center
    +cover
    &__box
      padding: 45px 30px 25px   
      text-align: center       
  +comment("offer section style") 
  .offer
    &__heading
      margin-bottom: 90px    
    &__subheading
      font: 400 36px/40px $os
    &__info
      font: 600 30px/36px $os
    &__btn
      padding: 12px 40px 
    &__arrow
      .ic
        top: 70px
        right: 50px  
  +comment("destroy style")       
  .destroy
    padding: 80px 0 200px 
    background: url(../img/destroybg.png) no-repeat center
    +cover
    &__subheading
      margin: 0 0 90px  
    &__info
      font: 400 24px/28px $os  
  +comment("about section style")   
  .about  
    padding: 45px 0 75px    
    &__title
      margin-bottom: 40px
    &__box
      padding: 0
      .ic
        position: static
    &__info
      font: 400 24px/28px $os
      margin-bottom: 0  
    &__img
      margin-bottom: 40px  
    &__btn
      +br(4px)  
+r(968)    
  +comment("header style") 
  .content
    &__box
      padding-top: 80px   
    &__heading
      font: 400 30px/36px $os  
  +comment("about section style")   
  .about  
    &__box
      padding: 100px 60px 0   