+r(768) 
  +comment('general style')
  .g_heading
    font: 600 36px/40px $os 
  +comment("header style") 
  .navbar
    &__call
      font: 400 16px/16px $pts
      color: #000
      padding: 10px 45px    
      +br(3px)    
  .phone
    padding-right: 20px
    .fa
      font-size: 50px
    &__link
      font: 400 16px/16px $pts
      margin-bottom: 10px
  .content
    &__box
      padding-top: 80px    
    &__heading
      font: 400 30px/36px $os
    &__list--item
      font: 400 20px/36px $os
    &__btn
      padding: 10px 35px    
      font: 400 18px/20px $pts 
  +comment("help section style")
  .help
    background: url(../img/helpbg.png) no-repeat center
    +cover
    &__box
      padding: 45px 30px 25px   
      text-align: center       
